@import "tailwindcss";


/* Variáveis de cor */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo escuro automático baseado no sistema */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos padrão */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

/* Animação para carrossel */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}
/* Oculta no mobile (abaixo de 768px) */
@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

